@page
@using IISClient.Model
@model IndexModel
@{
    ViewData["Title"] = "List of coins";
}

<div class="text-center mt-2">
    <h1>List of coins</h1>
</div>

<div class="text-center m-4">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Price change (24h)</th>
                <th scope="col">Last updated</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["coins"] != null)
            {
                foreach (var coin in ViewData["coins"] as List<Coin>)
                {
                    <tr>
                        <td>@coin.Symbol.ToUpper()</td>
                        <td>@coin.Name</td>
                        <td>$@coin.Price</td>
                        @if (coin.PriceChange > 0)
                        {
                            <td class="bg-success text-white">@Math.Abs(coin.PriceChange) %</td>
                        }
                        else if (coin.PriceChange == 0)
                        {
                            <td>@coin.PriceChange %</td>
                        }
                        else
                        {
                            <td class="bg-danger text-white">-@Math.Abs(coin.PriceChange) %</td>
                        }
                        <td>@coin.Updated</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div

@if (ViewData["error"] != null)
{
    <h4 class="text-danger">@ViewData["error"]</h4>
}